<html>
<head>
    <title>login form  design</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>

    <body>
        <div class="loginbox" background="back_white.jpeg">
            <img src="user.png" class="user">
            <h1>Login Here</h1>
            <form method="POST" action="aaaa.php">
                <p>username</p>
                <input type="text" name="" placeholder="enter username">
                <p>password</p>
                <input type="password" name="" placeholder="enter password"><br><br>
                <input type="submit" name="" value="login" class="submitbtnn" ><br><br>
                <a href="#" class="logingan ll">Forgot Password?</a>
                <a href="#" class="logingan rr">Dont Have an Account?</a>
             </form>
            
    
            </div>

    </body>
    </head>
</html>